* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgDark: #EAEAEA;
    --bgLight: #FAFAFA;
    --greyOpacity: #EAEAEABF;
    --greyText: grey;
    --isActive: #49FF89;
    --blue: #A8EFFF;
    --blue2: #1BD5FF;
    --blueOpacity: #A8EFFF80;
}

.main-container {
    height: 100vh;
    padding: 30px;
    display: grid;
    grid-template-columns: 350px 500px 350px;
    justify-content: space-between;
    border-radius: 25px;
}

img {
    display: block;
}

.subtitle {
    font-size: 22px;
}

.isActive {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--isActive);
}

/***** Aside Left *****/
.aside-left {
    padding: 0 15px;
}

.sender {
    padding: 25px 0;
    display: flex;
    column-gap: 25px;
}

.sender__image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.sender__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
}

.sender__info__isActive {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.switch {
    height: 18px;
    width: 38px;
    position: relative;
    display: inline-block;
}

.switch input {
    height: 0;
    width: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--isActive);
    border-radius: 10px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    height: 14px;
    width: 14px;
    position: absolute;
    content: "";
    right: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: var(--bgDark);
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(-18px);
    -ms-transform: translateX(-18px);
    transform: translateX(-18px);
}

.sender__info__isActive .text {
    color: var(--greyText);
}

.search {
    margin: 0 auto;
    padding: 25px 0;
    position: relative;
}

.search input {
    height: 60px;
    width: 100%;
    padding: 25px;
    font-size: 17px;
    color: var(--greyText);
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: var(--bgDark);
}

.search .fa-magnifying-glass {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 18px;
    transform: translateY(-50%);
}

.users {
    padding: 25px 0;
}

.users__navbar__list{
    margin: 15px 0;
    display: flex;
    
    list-style-type: none;
    color: var(--greyText);
}

.isSelected {
    font-weight: 700;
    color: black;
    border-bottom: 3px solid var(--blue2);
}

.users__navbar li {
    height: 28px;
    margin-right: 10px;
    padding: 5px;
    cursor: default;
}

.users__list__account {
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.users__list__account:hover {
    background-color: var(--blueOpacity);
}

.users__list__account__profile {
    display: flex;
    column-gap: 5px;
}

.users__list__account__profile img {
    height: 33px;
    width: 33px;
    border-radius: 50%;
}

.users__list__account__profile .name {
    font-weight: 700;
}

.users__list__account__profile .typing, .users__list__account__info .date {
    font-size: 15px;
    color: var(--greyText);
}

.users__list__account__profile__info .name {
    height: 45%;
    margin-top: 2px;
}

.users__list__account__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

/***** Main Part *****/

.chat__header {
    height: 10%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    column-gap: 2px;
    border-radius: 50px 50px 0 0;
    background-color: var(--bgDark);
}

.chat__main {
    height: 90%;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bgLight);
}

.message__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    list-style-type: none;
}

.message {
    min-width: 200px;
    padding: 15px;
    border-radius: 10px;
}

.message__list__receiver {
    align-self: flex-start;
    background-color: var(--bgDark);
}

.message__list__sender {
    align-self: flex-end;
    -webkit-box-shadow: 5px 5px 5px 0px var(--greyOpacity);
    -moz-box-shadow: 5px 5px 5px 0px var(--greyOpacity);
    box-shadow: 5px 5px 5px 0px var(--greyOpacity);
}

#formMessage {
    position: relative;
}

#formMessage input {
    height: 60px;
    width: 100%;
    padding-left: 50px;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 5px 0px var(--greyOpacity);
    -moz-box-shadow: 0px 10px 5px 0px var(--greyOpacity);
    box-shadow: 0px 10px 5px 0px var(--greyOpacity);
}

#formMessage .submit {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background-color: white;
}

#formMessage .fa-circle-chevron-right {
    font-size: 30px;
    color: var(--blue2);
}


